html {
  background-color: black;
  box-sizing: border-box;
}

body {
  padding-top: 100px;
  font-family: 'Muli';
}

.button:hover {
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 1px solid black;
}

.button, .create-btn {
  background-color: rgb(0, 0, 0);
  padding: 7px;
  color: white;
  text-decoration: none;
  margin: 5px;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
}
  
.logout-btn {
  background-color: rgb(0, 0, 0);
  padding: 7px;
  color: white;
  text-decoration: none;
  margin: 5px;
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 10px;
  display: block;
}

.logout-btn:hover, .create-btn:hover {
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

img {
  height: 15%;
  width: 40%;
}
  
.unauth-menu {
  margin-top: 90px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  padding: 25px;
  width: 40%;
  height: 300px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
}

.auth-menu {
  margin-top: 90px;
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  padding: 25px;
  width: 30%;
  margin: auto;
  border-radius: 5px;
}

.non-workout-list {
  text-align: center;
}

.workout-list {
  display: block;
  margin-top: 20px;
}

.workout-card {
  transition: 0.3s;
  border: 1px solid white;
  border-radius: 5px;
}

.workout-card:hover {
  transition: 0.3s;
  background-color: black;
  color: white;
}


.delete-workout-btn {
  transition: 0.3s;
  border: 1px solid white;
  width: 50px;
  height: 30px;
  background-color: black;
  color: white;
  float: right;
  margin-right: 20px;
}

.delete-workout-btn:hover {
  transition: 0.3s;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}


.card-header {
  text-align: center;
}

.workout-card {
  padding: 9px;
}

@media only screen and (max-width: 1045px) {
  .delete-workout-btn {
    width: 45px;
    font-size: 10px;
    display: block;
    float: none;
  }

  .card-header{
    text-align: left;
  }

  .delete-workout-btn {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 845px) {
  img {
    display: none;
  }

  .unauth-menu {
    font-size: 16px;
    height: 240px;
  }

  .auth-menu {
    font-size: 16px;
  }

  .greeting {
    font-size: 20px;
    display: block;
  }

  .create-btn {
    font-size: 14px;
    width: 50%;
  }

  .logout-btn {
    font-size: 12px;
  }

  .delete-workout-btn {
    width: 40px;
    font-size: 9px;
  }
}

@media only screen and (max-width: 650px) {
  .create-btn {
    font-size: 11px;
  }

  .logout-btn {
    font-size: 10px;
  }
}

@media only screen and (max-width: 520px) {
  .unauth-menu {
    height: 300px;
  }

  .auth-menu {
    font-size: 13px;
  }

  .create-btn {
    font-size: 9px;
  }

  .logout-btn {
    font-size: 8px;
  }

}

@media only screen and (max-width: 440px) {
  .unauth-menu {
    font-size: 14px;
    height: 365px;
  }

  .auth-menu {
    font-size: 10px;
  }

  .button {
    display: block;
  }
  
  .create-btn {
    font-size: 6px;
  }

  .logout-btn {
    font-size: 7px;
  }
}

@media only screen and (max-width: 330px) {
  .create-btn {
    font-size: 5px;
  }
}